<div class="center">
  <div class="content">
    <div class="row vert-pad">
        <div class="left padded"><h1>Desenvolvo com paixão aplicações e sites para pessoas e empresas.</h1>
            <p>Costantemente aprendendo as tecnologias e desenvolvendo aplicações web. Este site eu construi do zero com Python e Flask!</p>
        </div>
        <div class="right padded">
            <h1>Podemos conversar o que quiser!</h1>
            <p>Me envie um e-mail <a class="orange"  href="contacto">clicando aqui</a></p>
        </div>
      
    </div>
  </div>
</div>
